<div class="container mt-3" id="<%= dom_id product_type %>">
  <h1>
    <strong>
      <%= product_type.product_type_name %>
    </strong>
  </h1>
  <h3>Products by Product Type (Order by Rating)</h3>
  <table class="table">
    <%= render partial: 'layouts/components/theadproduct' %>
    <tbody>
      <%= render partial: 'layouts/components/tbodyproduct', collection: product_type.products.order("rating DESC"), as: :product %>
    </tbody>
  </table>
</div>
