<div class="container mt-3">

  <h1>New product type</h1>

  <%= render "form", product_type: @product_type %>

  <%= link_to "Back to product types", product_types_path, class: "btn btn-outline-primary" %>
</div>
