<div class="container mt-3" id="<%= dom_id tag %>">
  <h1>
    <strong>
      <%= tag.tag_name %>
    </strong>
  </h1>
  <h3>Products by Tag (Order by Rating)</h3>
  <table class="table">
    <%= render partial: 'layouts/components/theadproduct' %>
    <tbody>
      <%= render partial: 'layouts/components/tbodyproduct', collection: tag.products.order("rating DESC"), as: :product %>
    </tbody>
  </table>
</div>


