<div  class="container mt-3" id="<%= dom_id color %>">
  <h1>
    <strong>
      <%= color.color_name %>
    </strong>
  </h1>
  <h3>Products by Color (Order by Rating)</h3>
  <table class="table">
    <%= render partial: 'products/thead' %>
    <tbody>
      <%= render partial: 'products/tbody', collection: color.products.order("rating DESC"), as: :product %>
    </tbody>
  </table>
</div>

