<div class="container mt-3">

  <h1>Editing color</h1>

  <%= render "form", color: @color %>

  <%= link_to "Show this color", @color, class: "btn btn-outline-primary"  %>
  <%= link_to "Back to colors", colors_path, class: "btn btn-outline-primary"  %>
</div>
