<h1>Describe Datasets</h1>
<p>
  We have selected “Makeup by Brand and Type” as our topic.
  We are planning to use the following data sources:
</p>

<ol>
  <li>
    API
    <table>
      <tr>
          <td>Website:</td>
          <td><a href="http://makeup-api.herokuapp.com/">http://makeup-api.herokuapp.com/</a></td>
      </tr>
      <tr>
          <td>API Endpoint:</td>
          <td><a href="http://makeup-api.herokuapp.com/api/v1/products.json">http://makeup-api.herokuapp.com/api/v1/products.json</a></td>
      </tr>
      <tr>
          <td>Response Format:</td>
          <td>JSON</td>
      </tr>
    </table>
  </li>
  <li>CSV</li>
  <li>Faker</li>
</ol>

<p>Our database is designed as follows:</p>

<ol>
  <li>Products table</li>
  <li>Categories table</li>
  <li>Brands table</li>
  <li>Product_Types table</li>
  <li>Colors table</li>
  <li>Tags table</li>
</ol>


