<div class="container mt-3" id="<%= dom_id brand %>">
  <h1>
    <strong>
      <%= brand.brand_name %>
    </strong>
  </h1>
  <h3>Products by Brand (Order by Rating)</h3>
  <table class="table">
    <%= render partial: 'layouts/components/theadproduct' %>
    <tbody>
      <%= render partial: 'layouts/components/tbodyproduct', collection: brand.products.order("rating DESC"), as: :product %>
    </tbody>
  </table>
</div>

