<div class="container mt-3">

  <h1>Editing brand</h1>

  <%= render "form", brand: @brand %>

  <%= link_to "Show this brand", @brand, class: "btn btn-outline-primary" %>
  <%= link_to "Back to brands", brands_path, class: "btn btn-outline-primary" %>
</div>
