<tr>
  <td>
    <%= product.rating %>
  </td>
  <td>
    <% rating = product.rating %>
    <% (1..5).each do |i| %>
      <!-- Full star for rated value -->
      <% if i <= rating %>
        <i class="fas fa-star" style="color: #f7d702;"></i>
      <!-- Half star for decimal value -->
      <% elsif i - 0.5 <= rating %>
        <i class="fas fa-star-half-alt" style="color: #f7d702;"></i>
      <!-- Empty star for unrated value -->
      <% else %>
        <i class="far fa-star" style="color: #f7d702;"></i>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to(image_tag(product.image_link, alt: product.product_name, width: "60"), product) %>
  </td>
  <td>
    <%= link_to product.product_name, product %>
  </td>
  <td>
    <%= product.price %>
  </td>
</tr>