<div class="container mt-5">

  <h1>Editing product</h1>

  <%= render "form", product: @product %>

  <%= link_to "Show this product", @product, class: "btn btn-outline-primary" %>
  <%= link_to "Back to products", products_path, class: "btn btn-outline-primary" %>
</div>
