<div class="m-3" id="products">
  <h1>All Products</h1>
  <table class="table">
    <%= render partial: 'thead' %>
    <tbody>
      <%= render partial: 'tbody', collection: @products.order("rating DESC, product_name"), as: :product %>
    </tbody>
  </table>
</div>

<%= link_to "New product", new_product_path %>