<div class="container mt-3" id="products">
  <h1>Products</h1>
  <% unless (paginate @products).present? %>
    <br><br>
  <% end %>
  <div class="d-flex justify-content-end">
    <%= paginate @products %>
  </div>
  <table class="table table-hover">
    <%= render partial: 'layouts/components/theadproduct' %>
    <tbody>
      <%= render partial: 'layouts/components/tbodyproduct', collection: @products.order("rating DESC, name"), as: :product %>
    </tbody>
  </table>
  <%= link_to "New product", new_product_path, class: "btn btn-outline-primary" %>
</div>
